* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #15cedb;
}
.container {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.container .box {
    position: relative;
    width: 400px;
    background: #fff;
    padding: 25px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.container .box h2 {
    font-size: 1.5em;
    font-weight: 300;
    color: #560477;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}
.container .box #grocery {
    position: relative;
    width: 100%;
    display: flex;
}
.container .box #grocery input {
    position: relative;
    width: 100%;
    padding: 15px;
    border: 1px solid #111;
    outline: none;
}
.container .box #grocery button {
    background: #15cedb;
    min-width: 150px;
    font-weight: 500;
    border: 1px solid #111;
    cursor: pointer;
    outline: none;
}
.container ol {
    position: relative;
    padding: 10px 20px 10px 40px;
    width: 100%;
    min-height: 398px;
    background: #fff repeating-linear-gradient(transparent 0%, transparent 99%, #000 99%, #000 100%);
    background-size: 50px 50px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
}
.container ol li {
    position: relative;
    font-size: 1.5em;
    height: 50px;
}
.container ol li .remove {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    background:#560477;
    border-radius: 50%;
    cursor: pointer;
}
.container ol li.done p {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.1);
}

.container ol li.done p:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    background: #39f548;
    border-radius: 50%;
    cursor: pointer;
}